.box{
    text-align: center;
    height: 100vh;
    background-color: #DEFCF9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    height: 70vh;
    width: 130vh;
    background-color: #CADEFC;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.buttonBox{
    display: grid;
    grid-gap: 15px;
}