.box{
    text-align: center;
    height: 100vh;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 70vh;
    width: 120vh;
    background-color: seashell;
    border: solid;
    display: flex;
    align-items: center;
}
.leftform{
    flex: 7;
    height: 50vh;
    float: left;
    border: solid;
    display: grid;
    place-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.rightform{
    flex: 3;
    height: 50vh;
    float: right;
    border: solid;
    display: grid;
    place-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.buttonbox{
    background-color: darkgrey;
    height: 10vh;
    display: grid;
    place-items: center;
}
.button{
    margin-left: 5px;
    margin-right: 5px;
}