.box{
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    background-color: #CADEFC;
}
.article{
    height: 15vh;
    background-color: #DEFCF9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.question{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 15.5px;
}
.box2{
    float: right;
    padding-top: 20px;
}
.button{
    margin-left: 5px;
    margin-right: 5px;
}
.cameraScreen{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
